<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>pl.jnowacki.MyServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>pl.jnowacki.MyFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SecFilter</filter-name>
        <filter-class>pl.jnowacki.MyNewFilter</filter-class>
    </filter>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/my</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>SecFilter</filter-name>
        <servlet-name>Servlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Filter</filter-name>
        <servlet-name>Servlet</servlet-name>
    </filter-mapping>
</web-app>
